body{
	font-family: "Roboto Condensed", sans-serif;
}
nav.navbar{
	height: 80px;
	padding-top: 10px;
	background: #fff;
	margin-bottom:0px;
}
nav input[type="text"] {
    background: #fff none repeat scroll 0 0;
    border: 2px solid #ddd;
    border-radius: 25px;
    display: inline-block;
    min-width: 250px;
    width: auto;
    height: 40px;
    padding: 6px 15px;
}

nav.navbar-default .navbar-nav li a{
	display: inline-block;
    padding: 0 20px;
    color: #000;
    line-height: 55px;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    font-family: "Roboto Condensed", Arial, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
}

.suggestion-header{
	background-color: #193342;
    min-height: 70px;
    position: relative; 
}
.suggestion-title{
	margin-top:15px;
}
.suggestion-title span{
	font-size: 18px;
    font-family: 'Montserrat';
    font-weight: 400;
    display: inline-block;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    background: #79C142;
    color: #fff;
    border-radius: 3px;
    margin-right:40px;
}

.suggestion-title .nav-tabs{
	border-bottom:none;
	padding-top: 3px;
}
.suggestion-title .nav>li>a {
    padding: 6px 15px;
    border-radius: 4px;
    color:#fff;
}
.suggestion-title .nav>li.active>a {
    color:#000;
}


.movies a{
	display: block;
    padding: 20px 10px;
}

.movies .col-md-2{
	width: 14.28%;
}




/* Common style */
.grid div.hover {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	height: auto;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.grid div.hover img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid div.hover div.info {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid div.hover div.info::before,
.grid div.hover div.info::after {
	pointer-events: none;
}

.grid div.hover div.info,
.grid div.hover div.info > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid div.hover div.info > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid div.hover div.main-title {
	word-spacing: -0.15em;
	font-weight: 300;
}



.grid div.hover div.main-title,
.grid div.hover div.hidden-info {
	margin: 0;
}

.grid div.hover div.hidden-info {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/* Individual effects */


/*-----------------*/
/***** Goliath *****/
/*-----------------*/

div.hover.hover {
	background: #df4e4e;
}

div.hover.hover img,
div.hover.hover div.main-title {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	background: #000; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0), black); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(255, 255, 255, 0), black); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(255, 255, 255, 0), black); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(255, 255, 255, 0), black);
}

div.hover.hover img {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

div.hover.hover div.main-title,
div.hover.hover div.hidden-info {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

div.hover.hover div.hidden-info {
	text-transform: none;
	font-size: 90%;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,50px,0);
	transform: translate3d(0,50px,0);
}

div.hover.hover:hover img {
	-webkit-transform: translate3d(0,-50px,0);
	transform: translate3d(0,-50px,0);
}

div.hover.hover:hover div.main-title {
	-webkit-transform: translate3d(0,-50px,0);
	transform: translate3d(0,-50px,0);
}

div.hover.hover:hover div.hidden-info {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/* Media queries */
@media screen and (max-width: 50em) {
	.content {
		padding: 0 10px;
		text-align: center;
	}
	.grid div.hover {
		display: inline-block;
		float: none;
		margin: 10px auto;
		width: 100%;
	}
}